.LinkPage
{
  flex: 1;
  height: 100%;
  border-radius: 12px;
  border: 2px solid var(--background-aside);
  background-color: var(--background-base);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
  transition: 300ms border, 300ms background-color;
  > h3
  {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 19px;
    color: var(--text-secondary);
    transition: 300ms color;
  }
  &:hover
  {
    border: 2px solid var(--active-base);
    background-color: var(--background-aside);
    > h3
    {
      color: var(--text-base);
    }
  }
}