:root {
  --background-aside: #1c232b;
  --background-base: #14191f;
  --active-base: #29333d;
  --active-blue: #1eabe9;
  --blue-base: #00a1e7;
  --red-base: #f41240;
  --text-base: #ffffff;
  --text-secondary: #A7B4C4;
  --text-blue: #1EABE9;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
}

body {
  display: flex;
  background: var(--background-base);
}

a {
  color: inherit;
  text-decoration: none;
}
