.ButtonError
{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 12px 16px;
  transition: 300ms background-color;
  > h5
  {
    font-size: 13px;
    font-weight: bold;
    color: var(--text-base);
  }
  cursor: pointer;
  background-color: var(--red-base);
  &:hover
  {
    background-color: var(--hover-red);
  }
}
