.Row
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 24px;
}

.HeightAuto
{
  height: auto;
}

.Up
{
  align-items: flex-start;
}